@addTagHelper Kentico.Content.Web.Mvc.ContentItemAssetImageTagHelper, Kentico.Content.Web.Mvc
@addTagHelper Kentico.Content.Web.Mvc.ContentItemAssetPictureSourceTagHelper, Kentico.Content.Web.Mvc
@model Goldfinch.Web.Components.Widgets.Image.ImageWidgetViewModel

@if (Model.ContentItemAsset is null)
{
    <p style="color:red; font-size:60px;">Image not found</p>
}
else
{
    <a href="@Model.ContentItemAsset.Url" target="_blank">
        <figure>
            <picture>
                <source media="(max-width: 600px)" kxp-img="@Model.ContentItemAsset" kxp-img-dimensions kxp-img-variant="480Width" />
                <source media="(max-width: 1000px)" kxp-img="@Model.ContentItemAsset" kxp-img-dimensions kxp-img-variant="800Width" />
                <img kxp-img="@Model.ContentItemAsset" kxp-img-dimensions kxp-img-variant="1000Width" alt="@Model.Description" loading="lazy" />
            </picture>

            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <figcaption aria-hidden="true">@Model.Description</figcaption>
            }
        </figure>
    </a>
}